<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="author" content="Kenneth Hu">
    <title>Web3js</title>

    <link rel="stylesheet" type="text/css" href="css/main.css">

    <script type="text/javascript"  src="js/web3.min.js"></script>
<style>
	.container {
  background-color: rgb(255, 255, 255);
            width: 400px;
            height: 550px;
}



select{
  border-radius:8px;

  position: relative;
  left: 209px;
    background: rgb(202, 200, 200);
    color:rgb(218, 213, 213);
    width: 190px;
    height: 30px;
    border: none;
    color: rgb(0, 0, 0);
    
    text-shadow:0 1px 0 rgba(184, 53, 53, 0.4);
}

input {
    background-color:transparent;
    border: 0px solid;
    height:30px;
    width:326px;
    text-align: center;

}
input:focus {
    outline:none;
}


.div1 {
  width: 401px;
  height: 50px;
  /* border: 1px solid rgb(2, 0, 0); */
background:rgb(221, 218, 218);
}




.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    border: 1px solid rgb(10, 0, 53);
}  

.flex-child:first-child {
    margin-right: 0px;
}

</style>
</head>
<body>
    <div class="container">
        <div class="container"><br><br>
           
            <form action="/view_job"><table class="table table-dark table-striped">
              <thead>
                <tr>
                  
                  
                </tr>
              </thead>
              <tbody> <select>
                <% job.forEach(function(user){ %></option> 
                      <tr>
                   <td> <%= user.jobname %>
                    <!-- <a href="edit/<%= user.id %>" > <%= user.netname %></a> -->
                    </td>            
                   
                      </tr>
                  <% }); %>
                  
              </tbody></select>
            </table></form> 


          </div>
       
</body>
</html>